altgraph==0.17
cffi==1.14.6
future==0.18.2
gevent==21.8.0
greenlet==1.1.1
msgpack==1.0.2
msgpack-python==0.5.6
pefile==2021.5.24
pycparser==2.20
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pypiwin32==223
pywin32==301
pywin32-ctypes==0.2.0
pyzmq==22.2.1
zerorpc==0.6.3
zope.event==4.5.0
zope.interface==5.4.0
